html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}

.header {
    padding-top: 15px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

.content{
    overflow: hidden
}
.footer {
    position: absolute;
    left: 0;
    bottom: 5px;
    height: 100px;
    width: 100%;
    background-color: #efefef;
    text-align: center;
}


.input {
    text-align: center;
    padding: 5px;
    font-family: "Open Sans", sans-serif;
}
.output {
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.unselectable {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */       
}

#result{
    padding-bottom: 10px;
}

#instructions{
    color: red;
}

